/* Main */
.container {
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1920px;
}

/* Itens do sumário */
.summary ul {
	list-style: none;
	padding: 0;
}
.summary ul li a {
	font-weight: normal;
	color: var(--color-text);
	text-decoration: none;
	transition: all 0.3s ease;
}
.summary ul li a.active-section {
	font-weight: 600;
	color: var(--color-primary-bg);
	border-left: 2px solid var(--color-primary-bg);
	padding-left: 0.5rem;
}

/* Conteúdo Principal */
.content {
	flex: 2 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	max-width: 800px;
}

section {
	flex: 1 0 0;
	border-bottom: 1px solid var(--color-border);
	margin-bottom: 4rem;
}

section:last-of-type {
	border-bottom: none;
	padding-bottom: 5rem;
}

/* Wrappers */
.wrapper {
	width: 100%;
	display: flex;
	gap: 1rem;
}

/* Cards */
.sign-card {
	flex: 1 0 100px;
	background-color: var(--color-background-alt);
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 1rem;
}

.sign-card h4 {
	margin-bottom: 0.5rem;
}

.sign-card .material-symbols-outlined {
	font-variation-settings: "FILL" 1;
}

/* Cards de signos */
#static-sign {
	background-color: var(--color-background-static);
	border-color: var(--color-static-border);
}

#static-sign span {
	color: var(--color-static-icon);
}

#static-sign button {
	background-color: var(--color-static-bg);
	color: var(--color-static-text);
}

#static-sign button:hover {
	background-color: var(--color-static-hover);
}

#dynamic-sign {
	background-color: var(--color-background-dynamic);
	border-color: var(--color-dynamic-border);
}

#dynamic-sign span {
	color: var(--color-dynamic-icon);
}

#dynamic-sign button {
	background-color: var(--color-dynamic-bg);
	color: var(--color-dynamic-text);
}

#dynamic-sign button:hover {
	background-color: var(--color-dynamic-hover);
}

#metalinguistic-sign {
	background-color: var(--color-background-metalinguistic);
	border-color: var(--color-metalinguistic-border);
}

#metalinguistic-sign span {
	color: var(--color-metalinguistic-icon);
}

#metalinguistic-sign button {
	background-color: var(--color-metalinguistic-bg);
	color: var(--color-metalinguistic-text);
}

#metalinguistic-sign button:hover {
	background-color: var(--color-metalinguistic-hover);
}

/* Cards de exemplos */
.example {
	flex: 1 0 0;
}

.example p {
	margin-bottom: 0.5rem;
}

.example-card {
	min-height: 200px;
	background-color: var(--color-background-alt);
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.example-card h4 {
	margin-bottom: 0.5rem;
	width: 100%;
}

.mis-card {
	flex: 1 0 250px;
	background-color: var(--color-background-alt);
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 1rem;
	/* display: flex;
	flex-direction: column; */
}

.mis-card .material-symbols-outlined {
	font-variation-settings: "FILL" 1;
}

.mis-card h4 {
	margin-bottom: 0.5rem;
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 0.5rem;
	margin: 0 0 1.5rem 0;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
	.content {
		padding: 2rem;
	}

	.summary,
	.controls {
		display: none;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.5em;
	}

	.wrapper {
		flex-direction: column;
	}
}

@media (min-width: 769px) {
	/* Ajuste para desktop: conteúdo principal se move quando o sumário está ativo */
	#mobile-navigation-header {
		display: none;
	}

	.side-content {
		display: flex;
		flex-direction: column;
		min-width: 320px;
		flex: 1;
		align-self: flex-start;
		position: sticky;
		top: 6rem;
	}

	.summary,
	.controls {
		position: sticky;
		top: calc(5rem + 1px);
		background-color: var(--color-background);
		display: flex;
		flex-direction: column;
		max-width: 240px;
		padding: 1.5rem;
		gap: 1.5rem;
		width: 100%;
		height: 100%;
		z-index: 20;
	}

	.content {
		padding: 1.5rem;
	}

	.wrapper {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.sign-card {
		flex: 1 0 calc(33.333% - 1rem); /* Três exemplos por linha */
	}
	.example {
		flex: 1 0 calc(50% - 1rem); /* Dois exemplos por linha */
	}
}
