@import url("colors.css");
@import url("layout.css");
@import url("typography.css");

/* "Componentes" */
@import url("buttons.css");
@import url("dialog.css");
@import url("floating-menu.css");
@import url("x-ray.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
	line-height: 1.5;
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
	overflow-y: auto;
}

header {
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-border);

	z-index: 990;
	position: sticky;

	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
}

header > div {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	gap: 1rem;
	max-width: 1920px;
}

header h3 {
	margin: 0;
}

section ul,
section ol {
	list-style-position: inside;
	margin-bottom: 1rem;
	/* padding-left: 1.5rem; */
}

li {
	margin-bottom: 8px;
}

blockquote {
	border-left: 4px solid var(--color-border-blockquote);
	font-size: 2rem;
	line-height: 1.2;
	padding-left: 2rem;
	margin: 2rem 0;
	color: var(--color-text-var);
	font-style: italic;
}

blockquote p,
blockquote span {
	font-weight: 300;
	transition: font-weight 0.2s ease;
	display: inline-block;
	padding: 0 1px;
}

.highlight {
	background-color: var(--highlight-bg-color);
	padding: 2px 4px;
	border-radius: 3px;
}

.section-name {
	font-weight: 600;
	font-size: 0.87rem;
	text-transform: uppercase;
	background-color: var(--color-background-alt);
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
}

/* Inputs */
.input {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
.input-field {
	background-color: var(--color-background);
	border: 1px solid var(--color-border);
	color: var(--color-text);
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	width: 100%;
	font-size: 1rem;
	margin-top: 0.5rem;
}

.input-field:focus {
	outline: none;
	border-color: var(--color-border-focus);
}

input[type="checkbox"],
input[type="radio"] {
	width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
	vertical-align: middle;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline: none;
	accent-color: var(--color-primary-bg);
}

.toggle-indicator {
	display: flex;
	align-items: center;
	width: 3.5rem;
	height: 2rem;
	padding: 0.4rem;
	background-color: var(--color-secondary-inactive);
	border-radius: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.toggle-indicator.active {
	background-color: var(--color-primary-bg);
}

.toggle-indicator.active .toggle-indicator-inner {
	background-color: var(--color-primary-text);
	transform: translateX(1.6rem);
}

.toggle-indicator-inner {
	width: 1.25rem;
	height: 1.25rem;
	background-color: var(--color-secondary-bg);
	border-radius: 50%;
	top: 0.15rem;
	left: 0.15rem;
	transition: transform 0.3s ease;
}

select {
	background-color: var(--color-background);
	border: 1px solid var(--color-border);
	color: var(--color-text);
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	width: 100%;
	font-size: 1rem;
	margin-top: 0.5rem;
}

option {
	background-color: var(--color-background);
	color: var(--color-text);
}

label {
	font-weight: 600;
}

.theme-toggle label:not(:first-child) {
	font-weight: 400;
}

radio-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 0;
}

.loading-spinner {
	border: 6px solid var(--color-primary-bg);
	border-top: 6px solid var(--color-primary-text);
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	animation: spin 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	cursor: wait;
	margin-bottom: 0.5rem;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#moveable-area {
	overflow: hidden;
}

#movable-object {
	position: absolute;
	width: 224px;
	background-color: var(--color-background);
	border: 2px dashed var(--color-border);
	color: var(--color-text);
	border-radius: 0.5rem;
	display: flex;
	padding: 0.5rem;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	cursor: grab;
	user-select: none;
	transition: background-color 0.3s ease;
}

#movable-object:active {
	cursor: grabbing;
	border-color: var(--color-primary-bg);
	background-color: var(--color-primary-bg);
	color: var(--color-primary-text);
}

.has-tooltip {
	position: relative;
}

.tooltip {
	visibility: hidden;
	opacity: 0;
	transform: translate(0, -2rem);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	z-index: 1000;

	position: absolute;

	margin-bottom: 8px;

	background-color: var(--color-background-inverse);
	color: var(--color-text-inverse);

	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	white-space: nowrap;
	pointer-events: none;
}

.tooltip.active {
	opacity: 1;
	visibility: visible;
	transform: translate(0, -3rem);
}

fieldset {
	border: none;
}

.theme-option {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.summary-info {
	padding: 1rem;
	background-color: var(--color-background-alt);
	border-radius: 0.5rem;
}

.summary-info h5 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
.summary-info p {
	font-size: 0.875rem;
}
.summary-info p:first-of-type {
	margin-bottom: 1rem;
}
.summary-info p:last-child {
	margin-bottom: 0;
}

.info-message {
	width: 100%;
	background-color: var(--color-background-alt);
	/* border: 1px solid var(--color-background-primary-border); */
	color: var(--color-text);
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	gap: 1rem;
}

/* .info-message span {
	color: var(--color-text-accent);
} */

.info-message p {
	font-size: 1rem;
	margin: 0;
}

@media (min-width: 768px) {
	section ul {
		padding-left: 1.5rem;
	}
}
